<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>congress on palestine 2023</title>
    <!-- add bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark">
<div class="container my-5">
    <div class="row my-5 search_bar d-flex justify-content-center">
        <form action="../officials/new" method="POST">
            <input type="submit" value="Load new">
        </form>
    </div>
    <div class="row my-5 search_bar d-flex justify-content-center">
        <form action="../official/congress/get" method="POST">
            <input type="text" name="select_chamber" placeholder="senate">
            <input type="text" name="select_term" placeholder="116">
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="test">
        <p>Get tweets</p>
        <form action="../official/twitter/update" method="post">
            <label for="date">Newer than</label>
            <input type="date" name="date" placeholder="date">
            <label for="older_than">Older than</label>
            <input type="date" name="older_than">
            <input type="number" name="limit" placeholder="limit">
            <input type="number" name="congress_limit" placeholder="congress_limit">
            <input type="submit" value="test">
        </form>
    </div>

    <div class="test">
        <p>Get new tweets</p>
        <form action="../official/twitter/list" method="post">
            <input type="date" name="date" placeholder="date">
            <input type="number" name="limit" placeholder="limit"><br>
            <textarea name="list" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="test">
        </form>
    </div>
    {% if full_congress %}
    <p>full_congress</p>
    {% else %}
    <p>not full_congress</p>
    {% endif %}


    <div>
        <h2 class="text-light">
            download from server
        </h2>
        <form action="../download" method="post">
            <label for="Dataset">Enter dataset</label>
            <input type="text" name="dataset" placeholder="dataset">
            <input type="submit" value="download">
    </div>
</div>
</body>
</html>