<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- add bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark">
<div class="container my-5">
    <div class="row my-5 search_bar d-flex justify-content-center">
        <form action="../officials/new" method="POST">
            <input type="submit" value="Load new">
        </form>
    </div>

</div>
</body>
</html>