<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>congress on palestine 2023</title>
</head>
<body>
    <!-- login page -->

    <form action="/validate_login" method="post">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </p>
        <input type="submit" value="Log In">

    </form>
    <!-- <form action="/register" method="post">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <label for="password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </p>
        <input type="submit" value="Sign Up"> -->
</body>
</html>