<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="">
    <div class="official_container">

        <div class="official_left_div">
            <div class="bg-dark official_user_info official_sidebar text-light">
                <!-- def __init__(self, id=None, official_id=None, title=None, short_title=None,
                api_uri=None, first_name=None, middle_name=None, last_name=None,
                suffix=None, date_of_birth=None, gender=None, party=None,
                twitter_account=None, facebook_account=None, youtube_account=None,
                govtrack_id=None, cspan_id=None, votesmart_id=None, icpsr_id=None,
                crp_id=None, google_entity_id=None, fec_candidate_id=None, url=None,
                rss_url=None, contact_form=None, in_office=None, cook_pvi=None,
                dw_nominate=None, ideal_point=None, seniority=None, next_election=None,
                total_votes=None, missed_votes=None, total_present=None,
                last_updated=None, ocd_id=None, office=None, phone=None, fax=None,
                state=None, district=None, missed_votes_pct=None,
                votes_with_party_pct=None, votes_against_party_pct=None,
                at_large=None, geoid=None):
        self.id = id
        self.official_id = official_id
        self.title = title
        self.short_title = short_title
        self.api_uri = api_uri
        self.first_name = first_name
        self.middle_name = middle_name
        self.last_name = last_name
        self.suffix = suffix
        self.date_of_birth = date_of_birth
        self.gender = gender
        self.party = party
        self.twitter_account = twitter_account
        self.facebook_account = facebook_account
        self.youtube_account = youtube_account
        self.govtrack_id = govtrack_id
        self.cspan_id = cspan_id
        self.votesmart_id = votesmart_id
        self.icpsr_id = icpsr_id
        self.crp_id = crp_id
        self.google_entity_id = google_entity_id
        self.fec_candidate_id = fec_candidate_id
        self.url = url
        self.rss_url = rss_url
        self.contact_form = contact_form
        self.in_office = in_office
        self.cook_pvi = cook_pvi
        self.dw_nominate = dw_nominate
        self.ideal_point = ideal_point
        self.seniority = seniority
        self.next_election = next_election
        self.total_votes = total_votes
        self.missed_votes = missed_votes
        self.total_present = total_present
        self.last_updated = last_updated
        self.ocd_id = ocd_id
        self.office = office
        self.phone = phone
        self.fax = fax
        self.state = state
        self.district = district
        self.at_large = at_large
        self.geoid = geoid
        self.missed_votes_pct = missed_votes_pct
        self.votes_with_party_pct = votes_with_party_pct
        self.votes_against_party_pct = votes_against_party_pct
        self.post = None -->
        {% if official.twitter_account %}
        <div class="official_user_info_item">
            <a href="https://twitter.com/{{ official.twitter_account }}" target="_blank">
                <img src="{{ url_for('static', filename='twitter.png') }}" style="max-width: 50%;">
            </a>
        </div>
        {% else %}
        <div class="official_user_info_item">
            <a href="#">
                <img src="{{ url_for('static', filename='twitter.png') }}" style="max-width: 50%;" onclick="alert('coming soon')">
            </a>
        </div>
        {% endif %}
        {% if official.facebook_account %}
        <div class="official_user_info_item">
            <a href="https://facebook.com/{{ official.facebook_account }}" target="_blank">
                <img src="{{ url_for('static', filename='facebook.png') }}" style="max-width: 50%;">
            </a>
        </div>
    {% else %}
        <div id="facebook_icon" class="official_user_info_item">
            <a href="#" id="facebook_btn">
                <img src="{{ url_for('static', filename='facebook.png') }}" style="max-width: 50%;" onclick="alertFunction(
                    btnId='facebook_icon', 
                    buttonTitle='Facebook', 
                    official='{{official.first_name}} {{official.last_name}}',
                    alertDiv='FacebookAlertsContainer'
                    )">
            </a>
        </div>
        <div id="FacebookAlertsContainer">

        </div>
    {% endif %}

        </div>
        </div>

        <div class="official_center_div">
            <div class="official_header">
                <h1>
                    <span>{{official.first_name}}</span>
                    <span>{{official.last_name}}</span>'s stance on palestine
                </h1>
            </div>
<!-- Add this dropdown button somewhere in your HTML, preferably above the post cards -->
<div class="dropdown">
    <button class="btn btn-success dropdown-toggle ms-4" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
        <li><a class="dropdown-item" href="?sort=timestamp">Latest</a></li>
        <li><a class="dropdown-item" href="?sort=likes">Most likes</a></li>
        <li><a class="dropdown-item" href="?sort=replies">Most replies</a></li>
        <li><a class="dropdown-item" href="?sort=retweets">Most retweets</a></li>
    </ul>
</div>

<!-- Modify your posts loop to handle the sorting parameter -->
<div class="official_cards">
    {% set sort_criteria = request.args.get('sort', default='timestamp') %}
    {% set sorted_posts = posts | sort(attribute=sort_criteria, reverse=True) %}

    {% for post in sorted_posts %}
        <a href="{{ post.url }}" class="card_link" target="_blank">
            <div class="card border-2 border-danger mb-3 gap-3 bg-light" style="max-width:40rem; position: relative;">
                <img src="{{ post.post_avatar }}" class='user_avatar' alt="">
                <div class="card-header bg-dark text-light is_link">{{ official.first_name }} {{ official.last_name }}'s tweet</div>
                <div class="card-body bg-light text-dark">
                    <p class="card-text is_link">{{ post.text }}</p>
                    <div class="text-end">
                        <h6 class="card-subtitle text-body-secondary align-self-end is_link"> {{ post.timestamp.strftime("%B %d, %Y") }}</h6>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>


        </div>

        <div class="official_right_div">
            <div class="bg-dark official_site_nav">
                <div class="nav_item">
                    <a href="#">Home</a>
                </div>
                <div class="nav_item">
                    <a href="#">About</a>
                </div>
                <div class="nav_item">
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</html>
