<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Officals by state</h1>
    {% for official in officials %}
    <!-- create link to officials/official.id -->
    <a href="../officials/{{official.id}}">
        
        <h2>{{official.first_name}}</h2>
        <p>{{official.last_name}}</p>
        <p>{{official.state}}</p>
    </a>
    {% endfor %}
</body>
</html>