* {
    box-sizing: border-box;
}

body,
html {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

.selection {
    border: 2px solid green;
    display: flex;
    align-items: end;
    gap: 10px;
}

.official_header {
    text-align: center;
    height: 5rem;
    width: 100%;
    z-index: 2;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    color: green;
}

.official_header_dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.official_sidebar {
    text-align: center;
    height: 100vh;
    width: 10rem;
    position: fixed;
    top: 0;
    z-index: 1;
    border-right: 2px solid red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 50px red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.official_contact_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.reps {
        text-align: center;
        height: 10vh;
        width: 100%;

        box-shadow: 0px 0px 50px red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        margin: 0 0 0 0;
        padding: 0;
    }

    .home{
        justify-content: center;
    }


    .state-page-dropdowns{
        display: flex;
        flex-direction: row;
    }

    .sen-box {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .sen-box div {
        width: 100%;
    }

    .state-button{
        margin: 0 5rem;
    }


.sidebar_links {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    gap: 3rem
}
.official_left_div {
    text-align: start;
    height: 150vh;
    width: 10rem;
    top: 0;
}

.official_button_div {
    display: flex;
    justify-content: start;
    text-align: start;
}

.official_right_div {
    text-align: center;
    height: 150vh;
    width: 10rem;
    top: 0;
    margin: 0rem 0;
}

.official_site_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border-left: 2px solid red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 50px red;

    /* position: fixed; */
}

#alertsContainer {
    position:absolute;
    top: 0;
    right: 0rem;
    width: 20rem; 
}

.official_container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
}

.user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -22px;
    border: 1px solid red;
}

.official_cards {
    padding: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.official_cards li {
    margin: auto;
}

.card_link {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    max-height: 25vh;
    overflow-y: auto;
}

.in-office {
    top: -25px;
    right: 0;
}

.front-page-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 75vh;
    gap: 20px;
    text-align: center;
}

.front-page-box button {
    margin: 10px;
}


#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.card_item {
    max-width:40rem; 
    position: relative;
}

#phone_left_div {
    display: none;
}
.social-media-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 20%;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 450px)  {
    .state-page-dropdowns {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reps button {
        font-size: xx-small;
    }

    .reps h1 {
        font-size: smaller;
        margin: 0 10px 0 0;
    }

    .state-button
    {
        margin: 0 1rem;
    }
    .official_sidebar {
        position: relative;
        width: 10rem;
        background-color: white;
    }

    .card_item {
        max-width: 15rem;
        position: relative;
        right: 10px;
    }

    #sortDropdown {
        font-size:xx-small;
        position: relative;
        right: 10px;
    }

    .official_dropdown {
        display: none;
        }

    .official_dropdown_button {
        font-size: xx-small;
    }
    .official_header_dropdowns {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .official_left_div {
        display: none;
    }

    .official_header h1 {
        margin: 0 0 0 10px;
    }

    #phone_left_div {
        display: block;
    }

    .official_contact_info {
        color: black;
    }

    .sidebar_links {
        margin: 0 0 0 0;
        padding: 0
        }
}

.front-page-box h2{
    font-size: 1rem;
    width: 75%;
    margin: auto;

}

.front-page-box button{
    font-size: xx-small;
}

@media only screen and (max-width: 1000px)  {
    .official_sidebar {
        position: relative;
        width: 10rem;
        background-color: white;
    }

    .tweet_img {
        display: none;
    }
    .card_item {
        max-width: 40rem;
        position: relative;
        right: 10px;
    }

    #sortDropdown {
        font-size:xx-small;
        position: relative;
        right: 10px;
    }

    .official_dropdown {
        display: none;
        }

    .official_dropdown_button {
        font-size: xx-small;
    }
    .official_header_dropdowns {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-right: -10px;
    }
    .official_left_div {
        display: none;
    }

    .official_header {
        display: flex;
        justify-content: start;
        align-items: center;

    }

    #phone_left_div {
        display: block;
    }

    .official_contact_info {
        color: black;
    }

    .sidebar_links {
        margin: 0 0 0 0;
        padding: 0
        }
}